appdirs==1.4.4
astroid==2.3.3
attrs==22.1.0
beautifulsoup4==4.11.1
bs4==0.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.9.1
mccabe==0.6.1
more-itertools==8.13.0
packaging==21.3
pillow==9.0.0
Pillow==9.0.0
pluggy==0.13.1
py==1.11.0
pyfakefs==4.6.3
pylint==2.4.4
pyparsing==3.0.9
pytest==7.4.0
roman==3.3
six==1.16.0
soupsieve==2.3.2.post1
wcwidth==0.2.5
wrapt==1.11.2
