.tex {
        white-space: nowrap;
}

.tex i {
        text-transform: uppercase;
        font-style: normal;
        top: .37ex;
        left: -.2em;
        position: relative;
        width: .35em;
        display: inline-block;
}
